/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Color selectors */
:root {
--text: #3A606E;
--buttons: #8fa18f;
--off-white: #e0e0e0;
--dark-text: #2c3133;
}

/* *************************** */
/*     Element selectors       */
/* *************************** */

/*Background formatting, font, and color*/
body {
    background-color: var(--off-white);
    font-family:'Baskerville', 'Rockwell Extra Bold', 'New Century Schoolbook', 'Times New Roman', Times, serif
}

/*Header formatting, font, and color*/
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--labels);
    display: flex;
}

/* Aside formatting, font, and color */
aside {
    position: absolute;
    margin: 10px;
}

/* Main formatting, font, and color */
main {
    display: flex;
}

/* Section formatting, font, and color */
section {
    display: flex;
}

/* h1 formatting, font, and color */
h1 {

}

/* h2 formatting, font, and color */
h2 {

}

/* h3 formatting, font, and color */
h3 {

}

/* Paragraph formatting, font, and color */
p {

}

input {

}

button {

}

/* *************************** */
/*      Class selectors        */
/* *************************** */

.view-highscores {

}

.timer {
    top: 0;
    right: 0;
}

.quiz-container {

}

/* *************************** */
/*        ID selectors         */
/* *************************** */

#start {

}

#start-quiz {

}

#question-title {

}

#choices {

}

#end {

}

#final-score {

}

#github-username {

}

#highscore-list {

}

/* *************************** */
/*       Media Queries         */
/* *************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 480px) {

}