/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Color selectors */
:root {
--text: #3A606E;
--buttons: #8fa18f;
--off-white: #e0e0e0;
--dark-text: #2c3133;
}

/* *************************** */
/*     Element selectors       */
/* *************************** */

/*Background formatting, font, and color*/
body {
    background-color: var(--off-white);
    font-family:'Baskerville', 'Rockwell Extra Bold', 'New Century Schoolbook', 'Times New Roman', Times, serif
}

/*Header formatting, font, and color*/
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--labels);
    display: flex;
}

/* Main formatting, font, and color */
main {
    display: flex;
}

/* Aside formatting, font, and color */
aside {
    display: flex;
}

/* Paragraph formatting, font, and color */
p {

}

/* Section formatting, font, and color */
section {
    display: flex;
}

/* *************************** */
/*      Class selectors        */
/* *************************** */

.view-highscores {

}

.timer {

}

.quiz {
    
}

/* *************************** */
/*        ID selectors         */
/* *************************** */

/* *************************** */
/*       Media Queries         */
/* *************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 480px) {

}